/* =========================================================
   CONTAINER
========================================================= */

#con {
    height: 10px;
}

/* =========================================================
   APP
========================================================= */

.app {
    width: 100%;
    display: flex;
}
