/* =========================================================
   TEXTAREA
========================================================= */

textarea {
    width: 80%;
    min-height: 40px;
    max-height: 40px;
    direction: ltr;
    padding: 15px 20px;
    text-align: center;
     background: rgb(26, 0, 48);
        border: 3px solid  #402566; 
    color: white;
    font-size: 25px;
    font-family:
        'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
    margin-left: 20px;
    
    border-radius: 20px;
    scrollbar-color:
        var(--primary)
        var(--white);
    resize: none;
    overflow-y: auto;
    outline: none;
    transition:
        border-color 0.25s ease,
        box-shadow 0.25s ease,
        transform 0.25s ease;
}
